body{
    text-align: center;
}

h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
}

nav{
    border-radius: 15px;
    padding: 10px;
    background:rgb(20, 20, 66);
    font-size: 2.5rem;
    text-align: center;
}

nav ul{
    display: inline-block;
}

nav ul > li{
    display: inline-block;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: rgb(40, 138, 141);
}

#main{
    border: solid;
    margin-top: 2%;
    margin-left:25%;
    margin-right: 25%;
    padding: 2%;
    border-radius: 5px;
}

#contactinfo{
    width:20%;
    margin: auto;
    border-radius: 15px;
    padding: 5%;
    color: black;
    text-align: center;
}

#contactinfo p{
    font-size: 1rem;
}