body{
    text-align: center;
    color: white;
}

h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
}

nav{
    position: sticky;
    left: 0px;
    top: 0px;
    background:rgb(20, 20, 66);
    font-size: 2.5rem;
    text-align: center;
}

nav ul{
    display: inline-block;
}

nav ul > li{
    display: inline-block;
}

nav a{
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(40, 138, 141);
}

#project1{
    display: flex;
}

#project2{
    display: flex;
}

#project3{
    display: flex;
    margin:auto;
}

#image1{
    width:50%;
    margin:2%;
}

#image1 > img{
    vertical-align: middle;
    border-radius: 20px;
    width: 80%;
}

#text1{
    width: 50%;
    margin:2%;
    padding: 2%;
    background-color: #3d457b;
    border: solid;
    border-radius: 20px;
}

#image2{
    width: 50%;
    margin:2%;
}

#image2 >img{
    vertical-align: middle;
    border-radius: 20px;
    width: 80%;
}

#text2{
    width: 50%;
    margin:2%;
    padding: 2%;
    background-color: rgb(20, 20, 66);
    border:solid;
    border-radius: 20px;
}

#image3{
    width: 50%;
    margin:2%;
}

#image3 > img{
    vertical-align: middle;
    border-radius: 20px;
    width: 80%;
}

#text3{
    width: 50%;
    margin:2%;
    padding: 2%;
    background-color: #3d457b;
    border: solid;
    border-radius: 20px;
}

#contactinfo{
    width:20%;
    margin: auto;
    border-radius: 15px;
    padding: 5%;
    color: black;
    text-align: center;
}

#contactinfo p{
    font-size: 1rem;
}