body{
    color: white;
    background: #051516;
    margin: 0px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.75vw;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}

nav{
    position: sticky;
    left: 0px;
    top: 0px;
    background:rgb(20, 20, 66);
    font-size: 2vw;
    text-align: center;
}

nav ul{
    padding: 1vw;
    display: inline-block;
}

nav ul > li{
    display: inline-block;
}

nav a{
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(40, 138, 141);
}

#main{
    display: flex;
}

#image{
    width: 15%;
    margin: 2%;
    padding:2%;
    border-radius: 5px;
    text-align: center;
}

#image > img{
    vertical-align: middle;
    border: solid;
    border-radius: 5px;
    width: 80%;
}

#header{
    width:80%;
    margin-left: 2%;
}

#me{
    background-color: #3d457b;
    padding:5%;
    margin: 2%;
    border-radius: 20px;
    border: solid;
}

#background{
    padding: 5%;
    margin: 2%;
    border-radius: 20px;
    border: solid;
    background-color: rgb(20, 20, 66);
}

#skills{
    margin: 2%;
    background-color: #3d457b;
    border-radius: 20px;
    border: solid;
}

#skills > img{
    vertical-align: middle;
    width: 70%;
    max-height: 40em;
    border-radius: 20px;
}

#languages{
    padding: 5%;
    margin: 2%;
    text-align: center;
    background-color: rgb(20, 20, 66);
    border-radius: 20px;
    border: solid;
}

#languages > img{
    vertical-align: middle;
    width: 70%;
    max-height: 40em;
    border-radius: 20px;
}

#contactinfo{
    width:20%;
    margin: auto;
    border-radius: 15px;
    padding: 5%;
    text-align: center;
}

#contactinfo p{
    font-size: 1.25vw;
}
